@charset "UTF-8";


/* form styling */


#wrapper {
	width: 60%;
	margin-left:4%;
}

div#formcol1 {
	float:left;	
	width: 100%;
}


label{
    margin-right: .3em;
    width: 6.3em; /* I made this deliberately wide – come up with your own
    optimal width */
    display: inline-block; /* width will not work for “inline” elements such as
    “label”. Therefore we need to set it to “inline-block” */
    
}

#formcol1 label {
    text-align: right;
}

#formcol1 li {
    list-style:none;
}

select:focus, select:active, input:focus, input:active, input:focus + label,
input:active + label, label[for]:focus, label[for]:active {
color: #FFF !important;
background-color: #d0301e !important;}
/* end of form css */
    
#formcol1 input.reqfield {
    background:rgb(255, 255, 14);
}

#wrapper {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 10px 8px #888888;
    width: 60%;
    margin: auto;
}

